// out: ../css/, outExt: .min.css


/* Colors */
@text-color: #000000;
@btn-color: #ffffff;
@background-color: #ffffff;
@icons-color: #ff0000;

/* Basic settings */
html {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.button {
    background-color: @btn-color;
    color: @text-color;
}

/* Typography */
section {
    padding: 10rem 0rem;
}

.wrap {
    display: table;
    width: 100%;
    height: 7rem;

    &-block {
        display: table-cell;
        vertical-align: middle;
    }
}

.phon-link {
    display: inline-block;
    color: @text-color;
    font-weight: 900;
    font-size: 2rem;
    height: 7rem;
    line-height: 7rem;
}