// out: ../css/, outExt: .min.css


/* Colors */
@text-color: #000000;
@btn-color: #ffffff;
@background-color: #ffffff;
@icons-color: #ff0000;

/* Basic settings */
html {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Scene */

@import "_scene";